<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Page</title>

<link rel=stylesheet th:href="@{/about.css}">
<link rel=stylesheet th:href="@{/bar.css}">
<!-- Navigation bar -->
<div class="navbar">
	<a th:href="@{/home}">Home</a> <a th:href="@{/about}">About</a> <a
		th:href="@{/contact}">Contact</a> <a href="login">Login</a> <a
		href="registration">Register</a> <a th:href="@{/logout}">Logout</a>
</div>
</head>
<body>

	<div class="container">
		<h1>About SongVerse Music Streaming App...</h1>
		<h2><center>A universe of songs, perfect for a broad collection</center></h2>

		<div class="feature">
		
			<p>SongVerse is your gateway to a boundless world of music. We
				are a comprehensive music platform designed to cater to every music
				lover, offering an extensive collection of songs that span genres,
				moods, and cultures. Whether you're looking for the latest
				chart-toppers or timeless classics, SongVerse brings them all
				together in one harmonious space. At SongVerse, we believe that
				music is more than just sound; it’s an expression of emotions,
				stories, and experiences. Our mission is to create a space where
				listeners can discover, explore, and immerse themselves in music
				that speaks to their soul. With an intuitive interface, personalized
				playlists, and an ever-growing library, SongVerse is here to connect
				you with the music you love. Join us on a melodic journey as we
				explore the rhythms and beats of the world. Welcome to SongVerse –
				where every song tells a story, and every beat brings you closer to
				the music you crave.</p>
		</div>



		<!-- Add more features in a similar fashion 

		<div class="feature">
			<h2>Global Reach</h2>
			<p>With a global presence and multilingual support, SongVerse
				caters to music lovers worldwide, transcending geographical
				boundaries and bringing people together through the power of music.</p>
		</div>
		-->
	</div>

	<!-- Footer bar -->
	<div class="footer">
		<p>&copy; 2024 SongVerse Music Streaming App. All rights reserved.</p>
	</div>

</body>
</html>